{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="li-main-article-list">
                    {{ range first 10 .Site.RegularPages }}
                        {{ if eq .Type "post" }}
                            <div class="li-article">
                                {{ .Render "summary"}}
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <h2 style="text-align: center">
                {{ range .Site.Menus.main }}
                    {{ if eq .Name "articles" }}
                    <a href="{{ .URL }}">
                        See all articles
                    </a>
                    {{ end }}
                {{ end }}
            </h2>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
