<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <a href="{{ .Get "src"  }}">
        <img src="{{ replaceRE "(.*)\\.([^.]+)$" "${1}_1000.${2}" (.Get "src") }}" {{ if or (.Get "alt") (.Get "caption" | markdownify | plainify) }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
    </a>
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" | markdownify }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" | markdownify }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->

